[Unit]
Description=Screen Lock
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/lock.sh "Number timeout in Seconds"

[Install]
WantedBy=multi-user.target
